# Python
__pycache__/
*.py[cod]
venv/
.env
*.egg-info/

# Node
node_modules/
dist/
.vite/

# PyInstaller / binarios compilados
build/
*.spec
*.exe
__pycache__/

# OS
.DS_Store
Thumbs.db
*.db-wal
*.db-shm
